.filter-container {
    border: 1px solid #5CB5A3;
    border-radius: 8px;
    padding: 10px;
    width: 180px;
    margin-left: 20px;
    background-color: white;
}
.filterh {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 8px;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter-title {
    font-weight: bold;
}


.filter-group {
    margin-bottom: 10px;
    
}

.filter-label {
    font-weight: bold;
}

.filter-option {
    display: block;
    margin-bottom: 5px;
    
}

.filter-option input[type="checkbox"] {
    margin-right: 5px;
    background-color: #5CB5A3;
}

.container-filter {
    
    max-width: 400px;

}
.container {
    margin: 200;
    
}

.dropdown-toggle {
    border: 1px solid #5CB5A3;
    background-color: white;
    width: 150px;
    
}