/*Background color*/


/*Body*/

.container-detail h1 {
    /*Judul untuk Detail Jasa*/
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}
.container-detail {
    /*margin digunakan untuk menata letak dari sisi luar*/
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-bottom: 32px;
    background-color: #fff;
    border-radius: 12px;
}

.card-detail {
    /*Card nama jasa*/ 
    display:flex;
    width:max-content;
    flex-direction: row;
    border: 1px solid var(--main-color);
    border-radius: 12px;
    padding: 16px;
    margin-right: 24px;
    margin-left: 24px;
}

.card-detail img {
    /*Foto pada card nama jasa*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h3 {
    margin: 0;
    font-size: 18px;
}

.card-content p {
    margin: 5px 0;
    font-size: 14px;
}

.card-content h4 {
    margin: 5px 0;
    font-size: 16px;
}

.container-detail h2 {
    margin-left: 32px;
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 20px;
}
.tentang-jasa {
    margin-left: 32px;
    margin-right: 32px;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--bg-color);
}

/*card layanan*/
.card-layanan {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 12px;
    padding: 12px 24px;
    border: 1px solid var(--main-color);
    border-radius: 12px;
}

.card-layanan .card-content {
    margin-left: 16px;
}

.card-layanan img {
    width: 100px;
    height: 100px;
}

.tambahan h3 {
    margin-top: 16px;
    margin-left: 32px;
    font-size: 18px;
}

.table-responsive {
    background-color: var(--bg-color);
}

.container-alamat {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 12px;
}

.form-control {
    height: 50px;
    margin-top: 16px;
    border-radius: 12px;
    border-color: var(--main-color);
    background-color: var(--bg-color);
}

.container-pj {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 24px;
}

.btn1 {
    width: 90%;
    height: 40px;
    background-color: var(--main-color);
    border: var(--main-color);
    border-radius: 12px;
    color: #fff;
}

.btn {
    margin-left: 40px;
    height: 40px;
}

.btn-x {
    width: 25%;
    height: 40px;
    opacity: 30%;
    border-radius: 12px;
}

.btn-off {
    width: 25%;
    height: 40px;
    border-color: var(--main-color);
    background-color: var(--bg-color);
    border-radius: 12px;
}

.btn-on {
    width: 25%;
    height: 40px;
    border-color: var(--main-color);
    border-radius: 12px;
    background-color: var(--main-color);
}